.home-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
}

.home-item {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    justify-content: space-between;
}