* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  font-size: 16px;
  font-variant-numeric: lining-nums;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  user-select: none;
  background-color: light-dark(var(--body-color-light), var(--body-color-dark));
  /* background-color: #F8F8F8; */
  -webkit-text-size-adjust: none;
}

a {
  color: black;
  text-decoration: none;
}

label {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

label input {
  width: 100%;
}

input[type=time], input[type=date] {
  -webkit-appearance: none;
  text-align: center;
  width: 100%;
  background: transparent;
  color: black;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: var(--border-solid-accent);
  height: 15px;
  border-radius: var(--border-radius-small);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  background-color: var(--main-color);
  height: 25px;
  width: 25px;   
  border-radius: var(--border-radius-small);  
  box-shadow: none;
}

input:not(input[type="range"]) {
  width: 100%;
  padding: var(--padding-small);
  border: var(--border-solid-accent-second);
  border-radius: var(--border-radius-small);
  outline: none;
  height: 45px;
  color: light-dark(var(--body-color-dark), var(--body-color-light));
  background-color: light-dark(var(--body-color-light), var(--body-color-dark));
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 45px;
  width: 100%;
  border-radius: var(--border-radius-small);
  border: 2px solid var(--main-color);
  background: transparent;
  padding: 0 var(--padding-big);
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
}

button svg {
  height: 20px !important;
  aspect-ratio: 1 / 1;
}

.button-default {
  background-color: var(--green-color);
  color: white;
  border: none;
}

.button-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  /* padding: 5px; */
  border-radius: var(--border-radius-small);
  border: var(--border-solid-accent-second);
  background: transparent;
  width: auto;
  aspect-ratio: 1 / 1;
}

.button-red {
  background-color: var(--red-color);
}

.hidden {
  display: none !important;

}
h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

.component h2, .home-list svg path{
  color: light-dark(var(--body-color-dark), var(--body-color-light));
  fill: light-dark(var(--body-color-dark), var(--body-color-light));
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 570px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px var(--padding-small) var(--padding-small) var(--padding-small) ;
}

.component {
  background-color: light-dark(var(--component-color-light), var(--component-colo-dark));
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.10);
  padding: var(--padding-big);
  border-radius: var(--border-radius-big);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}