:root {
    color-scheme: light dark;

    --padding-big: 20px;
    --padding-small: 10px;
  
    --gap-big: 30px;
    --gap-small: 15px;
  
    --component-color-light: white;
    --component-colo-dark: #4E4E4E;

    --body-color-light: #F8F8F8;
    --body-color-dark: #353535;

    --main-color: #7387EA;
    --green-color: #43C97B;
    --red-color: #FF5768;
  
    --border-radius-big: 30px;
    --border-radius-small: 15px;
    --border-solid-main: 1px solid white;
  
    --border-solid-accent-second: 2px solid #B9C3F5;
    --border-solid-accent: 2px solid var(--main-color);
  }